.App {
  min-height: 100vh;
  opacity: 0;
}

.App.fade-in {
  animation: fadeIn 1s ease forwards;
}

.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.loading-wrapper.fade-out {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
